/* fonts */
@font-face {
    font-family: 'Soyuz';
    src: url("../fonts/Soyuz.otf");
    font-weight: bold;
}
@font-face {
    font-family: 'Helvetica';
    src: url("../fonts/Helvetica.otf");
    font-weight: bold;
}
/* color */
:root {
    --white: #fff;
    --orange: #fffb0f;
    --black: #111111;
}
/* cursor */
.cursor-dot{
    mix-blend-mode: normal;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.cursor-dot {
    z-index:999999;
    width: 30.0px;
    height: 30.0px;
    background-color: var(--orange);
    border-radius: 50%;
}
/* basic */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'inter', sans-serif ;
    font-size: 30px;
    transition: background-color 0.3s ease;
    background-color: var(--black);
    color: var(--white);
}
a, a::after, a::before {
    text-decoration: none;
    color: var(--white);
    padding-bottom: 5px;
}
a:hover {
    border-bottom: 2px solid var(--white);
    opacity: 60%;
}
a:active {
    color: var(--orange);
    opacity: 100%;
    border-bottom: 2px solid var(--orange);
}
.container {
    max-width: 85%;
    margin: 0 auto;
}
.title {
    font-family: 'Soyuz', sans-serif;
    font-size: 120px;
}
.title {
	color: var(--white);
}
.title-right {
    text-align: right;
}
.subtitle {
    font-family: 'Soyuz', sans-serif ;
    font-size: 25px;
}
.text {
    font-size: 25px;
}
span {
    color: var(--orange);
    font-family: 'Soyuz', sans-serif ;

}
/* header */
.header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.navigation a {
    margin-left: 50px;
}
/* top */
.top {
    padding: 120px 0;
}
.title_top {
    padding: 100px 0;
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.top-contant_text {
    display: flex;
}
.top-contant_text p {
    color: var(--orange);
    padding:40px 50px 50px 0;
}
.button {
    border: solid 2px var(--orange);
    padding: 10px 40px 12px 40px;
    border-radius: 10px;
	color: var(--black);
    transition: ease 0.5s;
}
.button:hover {
    border: 2px solid var(--white);
    color: var(--black);
    background-color: var(--white);
    opacity: 100%;
}
.button:active {
    color: var(--orange);
    opacity: 100%;
    border-bottom: 2px solid var(--orange);
}
/* for me */
.me {
    grid-column: 2/3;
}
.me p{
    padding-bottom: 30px;
}
/* filter */
.title_filter {
    padding: 120px 0 50px 0;
}
.filterDiv {
    /* float: left;
    display: none; */
    max-width: 100%;
}
.filterDiv:hover {
    border: none;
    opacity: 80%;
}
.filterDiv:hover {
    border: none;
    opacity: 80%;
}
.filterDiv img {
    max-width: 100%;
}
.show {
    display: block;
} 
.wrapper {
    margin-top: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 100%;
    column-gap: 5px;
}
/* Style the buttons */
.btn {
    border: solid 2px var(--white);
    padding: 10px 40px 12px 40px;
    border-radius: 10px;
    transition: ease 0.5s;
}
.btn:hover {
    border: 2px solid var(--orange);
    color: var(--black);
    background-color: var(--orange);
    opacity: 100%;
}
.btn.active {
    border: 2px solid var(--orange);
	background: var(--orange);
}
/* starflight */
.img_str {
    width: 100%;
}
/* newera */
.social-media {
    width: 100%;
}
.social-media_block_one {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
/* contact */
.contact_link {
    display: flex;
}
.contact_social-media {
    color: var(--black);
    background: var(--white);
    padding: 100px 150px;
    margin-right: 5px;
    border-radius: 10px;
}
.contact_social-media:hover {
    background: var(--orange);
    opacity: 100%;
    border: var(--orange);
}
.contact_social-media:active {
    color: var(--black);
    opacity: 80%;
    border: var(--orange);
}
